;; Project dependencies.
;;
;; References
;; - https://clojure.org/reference/deps_and_cli
;; - https://github.com/seancorfield/dot-clojure
;;
{:paths ["src"]
 :deps  {org.clojure/clojure {:mvn/version "1.10.1"}

         ;; component
         com.stuartsierra/component                {:mvn/version "1.0.0"}
         ring-jetty-component/ring-jetty-component {:mvn/version "0.3.1"}

         ;; ring
         ring/ring-core          {:mvn/version "1.8.1"}
         ring/ring-devel         {:mvn/version "1.8.1"}
         ring/ring-jetty-adapter {:mvn/version "1.8.1"}
         compojure/compojure     {:mvn/version "1.6.2"} ; routing
         hiccup/hiccup           {:mvn/version "1.0.5"} ; html generation

         net.mikera/imagez              {:mvn/version "0.12.0"} ; image processing
         org.sejda.imageio/webp-imageio {:mvn/version "0.1.6"}  ; webp encode/decode

         org.clojure/data.json  {:mvn/version "1.0.0"}
         org.clojure/spec.alpha {:mvn/version "0.2.187"} ; validation
         com.taoensso/timbre    {:mvn/version "5.0.1"}   ; logging
         fipp/fipp              {:mvn/version "0.6.23"}  ; pretty print
         }

 :aliases {;; Start server
           :run {:main-opts ["-m" "rave.avatar.core"]}

           ;; Start nrepl server with cider middleware (for emacs).
           :nrepl {:extra-deps {cider/cider-nrepl {:mvn/version "0.25.3"}}
                   :main-opts  ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}

           ;; common test deps
           :test {:extra-paths ["test"]
                  :extra-deps  {clj-http/clj-http      {:mvn/version "3.10.3"}
                                org.clojure/test.check {:mvn/version "1.1.0"}}}

           ;; run tests
           :kaocha {:extra-deps    {lambdaisland/kaocha {:mvn/version "1.0.700"}}
                    #_#_:main-opts ["-m" "kaocha.runner" "--watch"]}

           ;; test coverage report
           :cloverage {:extra-deps {cloverage/cloverage {:mvn/version "1.1.2" #_ "1.2.1"}}
                       :main-opts  ["-m" "cloverage.coverage" "-p" "src" "-s" "test"]}

           :uberdeps {:extra-deps {uberdeps/uberdeps {:mvn/version "1.0.2"}}
                      :main-opts  ["-m" "uberdeps.uberjar"]}

           ;; List outdated dependencies.
           :outdated {:extra-deps {olical/depot {:mvn/version "1.8.4"}}
                      :main-opts  ["-m" "depot.outdated.main" "--every"]}}}
